<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.giapvantai.multicalculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiCalculator">
        <activity android:name="com.giapvantai.multicalculator.MainActivity" />
        <activity android:name="com.giapvantai.multicalculator.Contact" />
        <activity android:name="com.giapvantai.multicalculator.ScientificCalculator" />
        <activity android:name="com.giapvantai.multicalculator.EMICalculator" />
        <activity android:name="com.giapvantai.multicalculator.AgeCalculator" />
        <activity android:name="com.giapvantai.multicalculator.DiscountCalculator" />
        <activity android:name="com.giapvantai.multicalculator.BMIResult" />
        <activity android:name="com.giapvantai.multicalculator.BMICalculator"
            tools:ignore="Instantiatable" />
        <activity android:name="com.giapvantai.multicalculator.PercentageCalculator" />
        <activity android:name="com.giapvantai.multicalculator.NormalCalculator" />
        <activity android:name="com.giapvantai.multicalculator.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>